.react-datepicker {
    background-color: #333;
    border-radius: 8px;
    color: white;
  }
  
  .react-datepicker__header {
    background-color: #444;
  }
  
  .react-datepicker__day--selected {
    background-color: #80F87E;
    color: white;
  }
  
  .react-datepicker__day:hover {
    background-color: #5bbd66;
    color: white;
  }
  