@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
}

body::-webkit-scrollbar {
  width: 0;
}

.register::-webkit-scrollbar {
  width: 0;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 16px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #fff;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: black;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}
